.chart-table > thead > tr.table-header-groups > td {
  padding-left: 0;
  padding-right: 0;
}
.chart-table > tbody > tr.table-row > td {
  padding: 0;
  border: 0;
}

.chart-table td.group-label {  
  white-space: nowrap;
  padding-right: 20px !important;
  color: #7F7C6F;
}

.chart-table > tbody > tr.table-row.spacer > td {
  height: 33px;
}

.chart-table > tbody > tr.table-row > td.cell-horizontal-bar {
  border-left: 3px solid black;
  padding-left: 0px;
  width:80%
}
.chart-table > tbody > tr.table-row > td.cell-horizontal-bar-spacer {
  border-left: 3px solid #E3E0D7;
  padding-left: 0px;
}
tr.table-header-groups {
  height: 55px;
}
.table-header-groups td {
  border-bottom: 1px solid #B1AEA3;
  vertical-align: bottom !important;
}
td.sort-by-control {
  font-size: 11px;
}

td.sort-by-control .sort-label,
td.sort-by-control ul.sort-options{
  display: inline-block;
  margin: 0;
}
td.sort-by-control ul.sort-options li.active a{
  color:black;
}
td.sort-by-control ul.sort-options li{
  border-right: 1px solid #B1AEA3;
  font-weight:bold
}
td.sort-by-control ul.sort-options li:last-child{
  border-right: 0;
}

td.key .key-wrapper {
  min-width:200px;
  text-align:right;
  display:table
}
td.key .key-top,
td.key .key-bottom {
  display:table-row
}
td.key .key-label{
  padding-right:8px;
  font-size:12px;
  line-height:18px;
}
td.key .key-label,
td.key .key-symbol {
  display:table-cell;
  vertical-align:middle
}
td.key .key-symbol span {
  display:block;
  width:15px;
  height:15px;
}
td.breakdown-column-header {
  min-width: 100px;
}

.horizontal-bar-label{
  background-color:#E3E0D7;
  padding:1px;
  z-index:10;    
  font-size:14px;
  font-weight:bold;
  white-space: nowrap;
}

.breakdown-column-header{
  text-transform:uppercase;
  font-size:12px;
  color:#8D825F;
  font-weight:bold;
  white-space: nowrap;
}


.line-label .inner {
  position: absolute;
  transform: translate(-50%,-100%);
  padding: 1px;
  margin-top: -4px;
  left: 0px;
  line-height: 14px;
  background-color: rgba(255,255,255,0.3);
  font-size: 11px;
  font-weight: bold;
}

.date-axis {
  border-top: 2px solid black;
  width: 100%;
}

.date-axis-label .inner{
  transform: translate(-50%,0);
}

.value-axis-label {
  width: 100%;
  text-align: right;
  padding: 0 7px;
}
.value-axis-label .tick {
  width: 10px;
  border-top: 1px solid gray;
  position: absolute;
  top: 0;
  right: 10px;
}
.value-axis-label .inner {
  transform: translate(0,-50%);
  position:relative;
  right:17px
}