chart-table > thead > tr.table-header-groups > td {
  padding-left: 0;
  padding-right: 0;
}
.chart-table > tbody > tr.table-row > td {
  padding: 0;
  border: 0;
}

.chart-table td.group-label {  
  white-space: nowrap;
  padding-right: 20px !important;
  color: #595850;
  vertical-align: middle;
}

.chart-table tr.row-highlight td.group-label {
    font-weight: bold;
}

td.breakdown-column-header {
  padding: 8px 10px 8px 0 !important;
}
.chart-table td.group-label-range {
  font-weight:bold;
  text-align: right;
}  
td.key {
  width: 1%;
}
.range-wrapper .gap {
  background-color: #BFBDB7;
  height: 4px;
  position: absolute;
  margin-top: -2px;
  top: 100%;
}


.range-wrapper .range-icon {
  border: 4px solid black;
  border-radius: 4px;
  width: 0;
  position: absolute;
  top: 100%;
  margin-top: -4px;
  margin-left: -2px;
}
.bottom-label-wrap {
  position: absolute;
  bottom: 0;
}
.top-label-wrap {
  position: absolute;
  top: 0;
}
.gap-label.label-min {
  position: absolute;
  left: 0;
  white-space: nowrap;
  margin-left: -2px;  
}

.top-label.gap-label {
  top: 0
}
.bottom-label.gap-label {
  bottom: 0
}

.gap-label .label-value {
  font-weight: bold;
}
.gap-label .label-group {
  font-size: 12px;
} 
.gap-label.label-min .label-value {
  padding-right:4px;
}
.gap-label.label-max {
  position:absolute;
  right: 100%;
  white-space: nowrap;
  margin-right:-7px;    
}
.gap-label.label-max .label-value {
  padding-left:4px;
}

td.group-label.group-label-range.group-label-range-bottom {
  vertical-align:bottom
}
td.group-label.group-label-range.group-label-range-top {
  vertical-align: top;
}

.chart-table > tbody > tr.table-row.spacer > td {
  height: 33px;
}

.chart-table > tbody > tr.table-row > td.cell-horizontal-bar {
  border-left: 3px solid black;
  padding-left: 0px;
  width:80%
}
.chart-table > tbody > tr.table-row > td.cell-horizontal-bar-spacer {
  border-left: 3px solid #fff;
  padding-left: 0px;
}
.chart-table>tbody>tr.table-row.spacer-gap>td.cell-horizontal-bar-spacer {
  border-left: 1px dotted #000;
}

tr.table-header-groups {
  height: 60px;
}
.table-header-groups td {
  border-bottom: 1px solid #B1AEA3;
  vertical-align: bottom !important;
}
td.sort-by-control {
  font-size: 12px;
}

td.sort-by-control .sort-label,
td.sort-by-control ul.sort-options{
  display: inline-block;
  margin: 0;
}
td.sort-by-control ul.sort-options li.active a{
  color:black;
}
td.sort-by-control ul.sort-options li{
  border-right: 1px solid #B1AEA3;
  font-weight:bold
}
td.sort-by-control ul.sort-options li:last-child{
  border-right: 0;
}

.line-chart-header {
  margin-bottom: 15px;
}
.line-chart-key {
  position: relative;
}
.line-chart-key-primary {
  border-bottom: 1px solid #B1AEA3;
  height:61px;
}
.line-chart-key-secondary {
  height: 30px;
}
.key .key-wrapper {
  min-width:200px;
  text-align:right;
  display:table;

}
.line-chart-header .key .key-wrapper {
  position: absolute;
  bottom: 0;
  right: 1px;  
  padding:8px
}
.line-chart-key-secondary.key .key-wrapper {
  top:0;
  bottom: initial;
   right: 2px;
}
.key .key-top,
.key .key-bottom {
  display:table-row
}
.key .key-label{
  padding-right:8px;
  font-size:12px;
  line-height:18px;
}
.key .key-label,
.key .key-symbol {
  display:table-cell;
  vertical-align:middle
}
.key .key-symbol span {
  display:block;
  width:15px;
  height:15px;
}

.horizontal-bar-label{
  background-color:#fff;
  padding:1px;
  z-index:10;    
  font-size:14px;
  font-weight:bold;
  white-space: nowrap;
}

.breakdown-column-header{
  text-transform:uppercase;
  font-size:12px;
  color:#7e7b6e;
  font-weight:bold;
  white-space: nowrap;
  min-width: 100px;
}


.line-label .inner {
  position: absolute;
  -ms-transform: translate(-50%,-100%);
  -webkit-transform: translate(-50%,-100%);
  -moz-transform: translate(-50%,-100%);
  -o-transform: translate(-50%,-100%);
  transform: translate(-50%,-100%);
  padding: 1px;
  margin-top: -4px;
  left: 0px;
  line-height: 14px;
  background-color: rgba( 227, 224, 215,0.3);
  font-size: 11px;
  font-weight: bold;
  pointer-events:none
}

.date-axis {
  border-top: 2px solid black;
  width: 100%;
}

.date-axis-label .inner{
  -ms-transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);  
  transform: translate(-50%,0);
}

.value-axis-label {
  width: 100%;
  text-align: right;
  padding: 0 7px;
}
.value-axis-label .tick {
  width: 10px;
  border-top: 1px solid gray;
  position: absolute;
  top: 0;
  right: 10px;
}
.value-axis-label .inner {
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  position:relative;
  right:17px
}

td.chart-title {
  font-weight: bold;
}

.line-chart-hint {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  opacity: 0.4;
  color: #7E7B6E;
  margin-top: 20px;
  padding-left: 50px;
}

.line-chart-ylabel {
  font-size: 13px;
  line-height: 16px;
}
.line-chart-ylabel-range-above {
  position: relative;
  top: 10px;
}
.line-chart-ylabel-range-below {
  position: relative;
  top: -10px;
}

.horizontal-bar-label {
  color: #E19900;
}


.ref-wrapper span{
  white-space: nowrap;
}