.hrc-filter-groups {
  border-top: 1px solid #B1AEA3;
  padding-top: 5px;  
  margin-top: 60px;  
}

.filter-group {
  padding-top: 15px;
}

.filters-header {
  margin-bottom: 0;
}
.filter-group-title {
  position: relative;
}
.filter-group-title h6 {
  display: inline-block;
  color: #7e7b6e;
}
.filter-group-title a {
  position: absolute;
  right: 0;
  top: 0;
  font-weight:bold
}
.filter-group-clear-all {
  margin-top: 7px;
}
.filter-group-btn-list-button:focus,
.filter-group-btn-list-button {
  margin-top: 4px !important;
  border: none;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  text-align: left;
  font-size: 14px;
}

.groups-footnotes {
  margin: 40px 0;
  color: #7F7C6F;
}