.hrc-filter a.hrc-list-group-item, 
.hrc-filter a.hrc-list-group-item:hover {
  margin-top: 3px;
  border: none;
  padding: 7px 10px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.filter-breakdown-title {
  color: #B7B4AA;
  font-size: 12px;
  line-height: 18px;
}

.filter-breakdown-dimension {
  display: inline-block;
  min-width: 120px;
  vertical-align: top;
}

.dimension-connector {
  display: inline-block;  
  position: relative;
  margin: 18px 10px;
  font-family: 'Droid-serif';
  font-size: 20px;
  color: #B7B4AA;
  font-weight: bold;
  padding: 5px 0;
}
.hrc-filter-breakdown .list-group { 
  margin-bottom: 0
}