.hrc-filter a.hrc-list-group-item, 
.hrc-filter a.hrc-list-group-item:hover {
  margin-top: 3px;
  border: none;
  padding: 7px 10px;
  background-color: #D3CFC1;
  color: #8D825F;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.hrc-filter a.hrc-list-group-item.active, 
.hrc-filter a.hrc-list-group-item:hover, 
.hrc-filter a.hrc-list-group-item.active:focus {
  background-color: #7E7B6E;
  color: white;
}
.filter-breakdown-title {
  font-weight: bold;
  color: #B7B4AA;
  font-size: 12px;
  line-height: 18px;
}

.filter-breakdown-dimension {
  display: inline-block;
  min-width: 120px;
  vertical-align: top;
  margin-right: 20px;
}

.dimension-connector {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  margin-top: 18px;
  font-family: 'Droid-serif';
  font-size: 20px;
  color: #B7B4AA;
  font-weight: bold;
  padding: 5px 0;
}
.hrc-filter-breakdown .list-group { 
  margin-bottom: 0
}