.date-filter-group {
  margin-bottom: 10px;
}
.date-filter-group a.btn {
  background-color: #D3CFC1;
  border-radius: 0;
  text-align: left;
  padding: 5px 10px 10px;
  width: 100px;
  margin-right: 2px;
}
.date-filter-group a.btn:hover,
.date-filter-group a.btn:focus,
.date-filter-group a.btn:active,
.date-filter-group a.btn.active {
  background-color: #7F7C6F;
  color:#fff
}
.date-filter-group a.btn.active {
  cursor:default
}
.date-filter-label {
  font-weight: bold;
  margin-bottom: 9px;
}


.date-filter-options {
  height: 40px;
}
.date-filter-options .btn-link {
  width: 100px;
  border-bottom: 1px solid #7F7C6F;
  font-weight: bold;
  color: #7F7C6F;
  border-radius: 0;
  font-size: 16px;
  padding: 0px 10px;
  text-align: left;
  position: relative;
}
.date-filter-options .btn-link:focus, 
.date-filter-options .btn-link:hover {
  text-decoration:none
}
.date-filter-options .btn-link .caret {
  background: url('./img/TEW-sprite.png') no-repeat top left;
  display: inline-block;
  background-position: 0px -1300px;
  width: 15px;
  height: 10px;
  position: absolute;
  right: 1px;
  top: 7px;
  border:none
}
.date-filter-options .open.btn-group .btn-link .caret {
  background-position: -50px -1300px;
}

.date-filter-options .dropdown-menu {
  min-width: 100px;
  background-color: #EDECE7;
}
.date-filter-options .dropdown-menu > li > a {
  padding: 3px 10px;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #7F7C6F;
  outline: 0;
}