.date-filter-group a.btn {
  background-color: #EDECE7;
  border-radius: 0;
  text-align: left;
  padding: 5px 10px 10px;
}
.date-filter-group a.btn.active {
  background-color: #7F7C6F;
  color:#fff
}
.date-filter-label {
  font-weight: bold;
  margin-bottom: 9px;
}