
.indicator-top {
  padding-top: 30px;
}

.indicator-chart-top {  
  padding-top: 30px;
}

.indicator-chart {
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.indicator-bottom .sources {
  padding-top: 40px;
  color: #7F7C6F;
}

.sources .dataset-title {
  font-weight: bold
}

.indicator-control {
  position: absolute;
  top: -18px;
  right: 15px;
}