.indicator-title {
  margin: 32px 0;
}

.indicator-bottom .sources {
  padding-top: 29px;
  color: #7F7C6F;
}

.sources .dataset-title {
  font-weight: bold
}

.indicator-control {
  position: absolute;
  top: -21px;
  right: 15px;
}

.source {
  margin-bottom: 10px;
}