.intro-serif {
  font-family: 'Droid serif', serif;
  text-transform: none;
}

.intro-lead {
  font-size: 18px;
}

.intro-sub-lead {
  font-size: 16px;
}

.intro-text {
  padding-top: 60px;
  padding-bottom: 60px;
}

.intro-text p {
  padding-top: 30px;
}

.intro-issue-select {
  width: 100%;
  background-color: #ECEBE6;
}

.intro-ul {
  margin-bottom: 0px;
}

.intro-li {
  border-left: solid #E2DFD6 2px;
}

.intro-li.last {
  border-right: solid #E2DFD6 2px;
}

.intro-read-more {
  padding-top: 30px;
}
