/*/issue*/

.issue-title {
  margin-top: 0px;
}

.issue-main {
  margin-top: 28px;
}



ul.hrc-list {
  position: relative;
  list-style: none;
  padding-left: 0px;
  padding-bottom: 60px;
  margin-top: 28px;

}

li.hrc-list-item {
  vertical-align: top;
  border-top: 1px solid #b0af9f;
  position: relative;
}

li.hrc-list-item:last-child{
  border-bottom: 1px solid #b0af9f;
}

.hrc-list-item-cell p{
  margin:0
}
.hrc-list-item-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 19px;
}

.hrc-list-item-cell-number {
  font-weight: bold;
  width: 80px;
  font-size: 30px;
  text-align: right;
  padding-left: 0;
}


.indicator-preview-tile h5{
  margin-bottom: 0;
}
.indicator-preview-tile h5,
.indicator-preview-tile:hover h5{
  color: #7F7C6F;
}
.indicator-preview-tile{
  background:#EDECE7;
  display: block;
  margin-top: 28px;
  padding:20px;
  color:#7f7c6f;
  overflow:hidden;
}

a.indicator-preview-tile:hover {
  background: #fff; 
  color: #8D825F;
}
.group-label {
  font-size: 13px;
}

.indicator-preview-tile .fact h1,
.indicator-preview-tile .fact p {
  margin:0
}
.indicator-preview-tile .fact h1 {
  font-size: 60px;
  margin-bottom: 6px;  
  color:#E19900
}
.indicator-preview-tile .fact p {
  font-size: 17px;
  line-height:1.33em;  
}
.indicator-preview-tile .date {
  font-weight: bold;
}
.indicator-preview-tile .date,
a.indicator-preview-tile:hover .date {
  color: #E19900;  
}



.indicator-preview-footer{
  border-top:solid 1px #b0af9f;
  padding-top: 10px;
  margin-top: 28px;
  margin-bottom: 0px;
  position:relative
}
.indicator-preview-icons {
  position: absolute;
  right: 0;
  top: 17px;
}
.indicator-preview-icons span {
  margin-left: 10px;
}

.indicator-preview-header {
  min-height: 70px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #39393C;
  margin-bottom: 12px;
}



.indicator-preview-tile .horizontal-bar-wrap {
  position: relative;
  padding: 5px 0;      
  height:30px;
  border-left: 2px solid black
}
.horizontal-bar-wrap-top {
  margin-bottom : 12px;      
}
    
.horizontal-bar-bg {
  background:#fff
  
}
.indicator-preview-tile:hover .horizontal-bar-bg {
  background: #EDECE7;
}       

.indicator-preview-tile .horizontal-bar-label {
  position:relative;
  margin-left:4px;
  left: 100%;
  padding:0px
}
.indicator-preview-tile .horizontal-bar-label.align-outside {
  background-color: #fff;
}
.indicator-preview-tile:hover .horizontal-bar-label.align-outside{
  background-color: #EDECE7
}
.indicator-preview-tile .horizontal-bar-label.align-inside{
    display:block;
    position: relative;
    left: 0;
    margin-left: -4px;
    text-align:right;
    background-color:transparent;
    width:100%;
    color: #fff;
}
.reference-group .vertical-line-label {
  height: 73px;
  display: table-cell;
  vertical-align: middle;
  font-size: 11px;
  padding-left: 5px;
}
.vertical-line-wrap {
  display:block;
  position:absolute;
  height:73px;
  top:0;
  width: 100%;
  z-index: 9       
 }
.vertical-line{
  position:relative;
  height:73px;
  border-left:1px solid black
}
.vertical-line-label-value{
  font-weight:bold;
  padding-right:5px
}
.preview-chart {
  position:relative
}
.indicator-preview-tile .group-label-title{
  font-weight:bold
}


.top-group-label {
  margin-bottom: 8px;
}
.bottom-group-label {
  margin-top: 8px;
}