/*own style overrides*/

.main-content {
  padding: 0px;
  background-color: #E2DFD6;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: bold;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: #8D825F;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  color: white
}

/*navbar*/
.navbar-tew {
  background-color: #38383B;
  height: 100px;
  margin-bottom: 0px
}

.navbar-tew > li > a :hover {
  color: #8D825F;

}

.navbar-tew .container {
}

.navbar-tew .header-logo {
  height: 98px;
  border-right: solid black 1px
}

li.title {
  height: 100px;
  padding-left: 30px
}

.navbar li.title > a {
  padding: 0;
}

li.title h3 {
  font-family: 'Droid serif', serif;
  font-weight: bold;
  color: white;
}

li.title p {
  color: #8D825F;
}

.navbar-tew .navbar-right > li > a {
  color: #8D825F;
  font-weight: bold;
  padding-right: 30px;
  padding-top: 30px;
}


/*nav-primary*/


.nav-primary-container {
  width: 100%;
  background-color: #ECEBE6
}

.nav-primary-row:before {
  display: block;
}

.nav-primary:before {
  display: block;
}

.nav-primary {
  border-left: solid #E2DFE6 2px;
  display: table;
}

.nav-primary-label {
  border-left: solid 1px;
  height: 120px;
  padding-top: 20px;
  color: #8D825F;
  font-family: 'Droid serif', serif;
  font-weight: bold;
}

.nav-issue {
  border-left: solid #8D825F 1px;
  margin-bottom: 0px
}

li.issue {
  text-align: center;
  height: 120px;
}

li.issue a {
  padding: 20px 15px;
  text-decoration: none;
  color: #38383B;
}

li.issue.active {
  background-color: white;
}

li.issue .title {
  font-weight: bold
}

/*/issue*/
.issue-header {
  padding-top: 45px;
}

.issue-title {
  margin-top: 0px;
}

.issue-main {
  padding-top: 30px;
}


.recommendations-header {
  padding-bottom: 30px;
}

ul.recommendation-list {
  position: relative;
  list-style: none;
  padding-left: 0px;
  padding-bottom: 60px;
}

li.recommendation {
  padding-top: 1em;
  border-top: solid white 1px;
  position: relative;
  margin-bottom 20px
}

li.recommendation.last {
  padding-bottom: 1em;
  border-bottom: solid white 1px;
}

li.recommendation span {
  font-weight: bold;
  font-size: 24px;
}

li.recommendation p {
  font-size: 12pt helvetica, arial, sans-serif;
  padding-left: 60px;
  margin: 0;
}
