/*own style overrides*/

html,body,#app { 
  position: relative;
  height: 100%;
  min-width:1024px;
}
body {
  padding: 0px;
  background-color: #E3E0D7;
  font-family: Arial, sans-serif;
}
.home {
  position: relative;
  min-height: 100%;
  padding-bottom: 212px;
  border-left: 12px solid #363636; 
}

footer.hrc-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 180px;
}
p {
  font-size:15px;
  line-height:1.5em;
  margin: 0 0 16px
}
.small p,
p .small,
p.small {
  font-size:13px;
  line-height:1.5em;
}
h1.hrc-title {
  font-family: 'Droid serif', serif;
  color: white;
  font-size: 26px;
  line-height: 34px;  
  margin-bottom: 4px;
}
.intro h1 {
  font-size: 28px;
  margin-bottom: 25px
}
h1 {
  font-size: 34px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #B0AF9F;
  text-transform:uppercase;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #8D825F;
  text-transform:uppercase;
}
h4.intro-explore {
  margin-bottom: 20px;
  font-size: 16px;
}
h5 {
  font-size: 15px;
  font-weight: bold;
  text-transform:uppercase;
  color: #7F7C6F
}
.issue-header  h5 {
  font-size:13px;
  margin-bottom:6px
}

h6 {
  font-size: 12px;
  font-weight: bold;
  text-transform:uppercase;
  color: #7F7C6F
}

.sources h6 {
  text-transform:none;
}
.serif {
  font-family: 'Droid serif', serif;
  text-transform: none;
}

.emphasis {
  color: black;
}

button,a {
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}

a{
  color: #8D825F;
}
p a {
  font-weight:bold;
}
a:hover {
  color: #756a4a;
  text-decoration:none
}
a:focus{
  text-decoration:none;
  color: #8D825F;
}
a:focus {
  outline: 0;
}
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus, input:focus {
  outline: none !important
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none; 
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.list-group-item,
.btn:focus,
.btn {
  background-color: #D3CFC1;
  color: #605D50;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #7F7C6F;
  outline: 0;
  cursor:default;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #605D50;
  background-color: #fff;
}

a.list-group-item.active,
a.list-group-item:active,
a.list-group-item.active:active,
a.list-group-item.active:focus,
a.list-group-item:active:focus,
.btn.active, 
.btn:active, 
.btn:active:focus, 
.btn.active:focus, 
.btn.active:active{
  background-color: #7E7B6E;
  color: #fff;
}
a.list-group-item.active:hover, 
a.list-group-itemactive:hover, 
a.list-group-item:focus:hover, 
a.list-group-item:hover,
.btn.active:hover, 
.btn:active:hover, 
.btn:focus:hover, 
.btn:hover {
  background-color: #fff;
  color: #605D50;
}



@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #B1AEA3;
}



.container {
  position:relative
}


.page-content {
  padding-top:30px;
}

.page-section {
  margin-top: 50px;
  margin-bottom: 40px;
}