.hrc-nav-carousel a {
  text-align: center;
  color: #8D825F;
  min-width: 50px;
  padding: 0;
}

.hrc-carousel-icon {
  height: 68px;
}
.hrc-carousel-icon-previous,
.hrc-carousel-icon-next{
  padding-top: 23px;
}

.hrc-nav-carousel-list li {
  padding: 0;
  position: relative;
}

.hrc-nav-carousel-label {
  padding-bottom: 5px;
}

.hrc-nav-carousel-li-previous:after {
  content: "";
  background: #8D825F;
  position: absolute;
  height:30px;
  right: 0px;
  top: 41px;
  width: 1px;
}
