
/*nav-primary*/
.nav-primary-container {
  width: 100%;
  background-color: #ECEBE6
}

.nav-primary-row:before {
  display: block;
}

.nav-primary:before {
  display: block;
}

.nav-primary {
  border-left: solid #E2DFE6 2px;
  display: table;
}

.nav-primary-label {
  border-left: solid 1px;
  height: 120px;
  padding-top: 20px;
  color: #8D825F;
  font-family: 'Droid serif', serif;
  font-weight: bold;
}


.nav-primary-list {
  border-left: solid #8D825F 1px;
  margin-bottom: 0px
}
.nav-primary-list.intro-ul {
  border-left:0
}

li.nav-primary-li {
  text-align: center;
  padding:0
}

li.nav-primary-li a {
  width: 100%;
  text-decoration: none;
  color: #38383B;
  padding-bottom: 20px;
  display: block;
}

li.nav-primary-li.active a, 
li.nav-primary-li a:hover, 
li.nav-primary-li a:active, 
li.nav-primary-li a:focus {
  background-color: white;
}

li.nav-primary-li .title {
  padding-top: 10px;  
  font-weight: bold
}
