/*navbar*/
.navbar-tew-wrapper {
  position: relative;
}

.navbar-tew > .container {
  width: 100%;
}

.navbar-tew {
  background-color: #38383B;
  margin-bottom: 0px;
  border: 0;
  border-radius: 0;   
}
.header-logo.navbar-brand {
  padding: 25px;
}
.navbar-tew > li > a :hover {
  color: #8D825F;
}

.navbar-tew .header-logo {
  height: 98px;
  border-right: solid black 1px
}

li.title {
  height: 100px;
  padding-left: 30px
}

.navbar li.title > a {
  padding: 0;
}

li.title h1 {
  font-family: 'Droid serif', serif;
  font-weight: bold;
  color: white;
  font-size: 26px;
  line-height: 34px;  
}

li.title p {
  color: #8D825F;
}

.navbar-tew .navbar-right > li > a {
  color: #8D825F;
  font-weight: bold;
  padding-right: 30px;
  padding-top: 30px;
}
