.share-modal {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  bottom: 0;
  height: 100%;
}

.share-modal-inner {
  position: absolute;
  top: 100px;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.share-modal-row {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;

}

.btn.share-modal-social {
  padding: 0px 7px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn.share-modal-social,
.btn.share-modal-social:focus {
  background-color: #7E7B6E;
  color: white;  
}
.btn.share-modal-social:hover {
  background-color: #3F3E38;
}

.share-modal-social span {
  height: 40px;
  width: 40px;
  padding-right: 10px;
}

.share-modal-link {
  background-color: #E2DFD6;
  width: 100%;
  height: 40px;
  color: #8D825F;
  /*copied from btn*/
  padding: 6px 12px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  /*copied from .btn*/
}

.share-modal-close {
  position: absolute;
  right: 0;
  top: 35px;
}

.share-modal-control {
  padding-top: 10px;
}
