/* SPRITE */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  background: url('./img/TEW-sprite.png') no-repeat top left;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

/*.icon-big{
  zoom:2;
  -moz-transform:scale(2);
  -moz-transform-origin: 0 0;
}*/

/* icons */
.icon-hrc-logo-sm     {background-position: 0px 0px;  
                       width: 100px;
                       height: 100px; }

.icon-employment      {background-position: 0px -100px;  
                       width: 100px;
                       height: 80px; }
.active .icon-employment,
.active.icon-employment,      
a:hover .icon-employment,
.icon-employment:hover      
                      {background-position: -100px -100px }

.icon-discrimination  {background-position: 0px -200px;  
                       width: 100px;
                       height: 80px; }
.active .icon-discrimination,
.active.icon-discrimination,   
a:hover .icon-discrimination,
.icon-discrimination:hover      
                      {background-position: -100px -200px}
                      
.icon-pay             {background-position: 0px -300px;  
                       width: 80px;
                       height: 80px; }
.active .icon-pay,
.active.icon-pay,      
.icon-pay:hover      
                      {background-position: -100px -300px }

.icon-leadership      {background-position: 0px -400px;  
                       width: 100px;
                       height: 80px; }
.active .icon-leadership,
.active.icon-leadership,     
a:hover .icon-leadership,
.icon-leadership:hover      
                      {background-position: -100px -400px }

.icon-close           {background-position: 0px -500px;  
                       width: 68px;
                        height: 68px; }
.icon-previous        {background-position: 0px -600px;  width: 13px; }
.icon-next            {background-position: 0px -650px;  width: 13px; }
.icon-li-arrow        {background-position: 0px -700px }
.icon-li-dot          {background-position: 0px -750px }
.icon-information     {background-position: 0px -800px }
.icon-arrow-right-sm  {background-position: 0px -850px }

.icon-barchart        {background-position: 0px -900px }
a:hover .icon-barchart,
.icon-barchart:hover
                      {background-position: -50px -900px }
.icon-linechart       {background-position: 0px -950px }
a:hover .icon-linechart,
.icon-linechart:hover
                      {background-position: -50px -950px }
                      
.icon-menu            {background-position: 0px -1000px }
.icon-menu-open       {background-position: -50px -1000px }

.icon-social-facebook {background-position: 0px -1050px }
.icon-social-linkedin {background-position: 0px -1100px }
.icon-social-twitter  {background-position: 0px -1150px }

.icon-timeline        {background-position: 0px -1200px; width:100px }
a:hover .icon-timeline,
.icon-timeline:hover
                      {background-position: -100px -1200px }
.active .icon-timeline,
.active.icon-timeline
                      {background-position: -200px -1200px }
                      
                      
.icon-snapshot        {background-position: 0px -1250px; width:100px }
a:hover .icon-snapshot,
.icon-snapshot:hover
                      {background-position: -100px -1250px }
.active .icon-snapshot,
.active.icon-snapshot
                      {background-position: -200px -1250px }
.icon-arrow-up-sm     {background-position: 0px -1300px }
.icon-arrow-down-sm   {background-position: -50px -1300px }
.icon-hrc-logo-claim  {background-position: 0px -1350px;  
                       width: 150px;
                       height: 100px; }
.icon-hrc-logo        {background-position: 0px -1500px;  
                       width: 100px;
                       height: 100px; }
.icon-hrc-claim       {background-position: 0px -1600px }



/*nav-primary
.icon-logo {background-position: 12px 12px; width: 100px; height: 100px}
.icon-employment {background-position: -10px -125px; width: 100px; height: 50px}
.icon-discrimination {background-position: -10px -225px; width: 100px; height: 50px}
.icon-pay {background-position: -10px -325px; width: 100px; height: 50px}
.icon-leadership {background-position: -10px -425px; width: 100px; height: 50px}

nav-carousel
.icon-previous {background-position: 12px -594px; width: 40px; height: 30px}
.icon-next {background-position: 12px -645px; width: 40px; height: 30px}
.icon-close {background-position: 1px -500px; width: 70px; height: 70px}

indicator-preview
.icon-barchart {background-position: 5px -895px; width: 40px; height: 30px}
.icon-linechart {background-position: 5px -947px; width: 40px; height: 30px}


Time-filter
.icon-snapshot-active {
  background-color: #7F7C6F;
  background-position: -90px -1218px;
  width: 100px;
  height: 75px;
}
.icon-snapshot {
  background-color: #ECEBE6;
  background-position: 10px -1218px;
  width: 100px;
  height: 75px;
}
.icon-timeline-active {
  background-color: #7F7C6F;
  background-position: -90px -1175px;
  width: 100px;
  height: 75px;
}
.icon-timeline {
  background-color: #ECEBE6;
  background-position: 10px -1175px;
  width: 100px;
  height: 75px;
}
.icon-dropdown-arrow {
  background-color: #E2DFD6;
  background-position: 81px -1288px;
  width: 100px;
  height: 30px;
}


*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

  [class^="icon-"], [class*=" icon-"] {
    background-image: url('../img/tew-sprite@2.png');
    background-size: 200px 1650px;
  }
}
